.main{
    margin-top: 50px;
align-content: center;
margin-right: 30%;
margin-left: 30%;
margin-bottom:50px;
border-style: solid;
border-radius: 20px;
border-width: 1px;
-moz-box-direction: reverse;
-moz-animation: cubic-bezier(0.075, 0.82, 0.165, 1);
-moz-border-bottom-colors: aqua;
border-color: gold;
box-shadow: 0 20px 12px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
button{
    /* display: none;    */
    }
.title{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: gold;
}
.button{
    margin-left:40%;
    background-color: gold;
    color: black;
}
.button:hover{
    background-color: #4CAF50;

}